<div class="container">
  <div class="head">
    <img class="profile-picture" src="./assets/images/profile-picture.jpg" alt="">
    <div class="text typewriter">
      <span class="hi">Hello,</span><span class=
      "sub-text"> I'm Jack. Web developer & human</span>
    </div>
  </div>
  <div class="content-area">
    <div class="left-column">
      <img id="computer" src="../assets/images/computer.png" alt="">
      <span class="mid-header">Technologies<br><span class="mid-sub-header">I am fluent in:</span></span>
      <div class="tech">
        <ul>
          <li>JavaScript</li>
          <li>Python</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>SASS</li>
        </ul>
      </div>
    </div>
    <div class="right-column">
      <img id="brain" src="../assets/images/creative-idea.png" alt="">
      <span class="mid-header">Interests<br><span class="mid-sub-header">I like to learn new things. Some of my hobbies and interests inlude:</span></span>
      <span></span>
      <div class="interests">
        <ul>
          <li>Design</li>
          <li>Cycling</li>
          <li>Reading</li>
          <li>Fitness</li>
        </ul>
      </div>
    </div>
  </div>
</div>
